#sidebar {
    dock: left;
    width: 35%;
    height: 100%;
    background: $panel;
    border: solid green;
}

#details {
    height: 100%;
    layout: grid;
    background: $panel;
    border: solid green;
}
