#sidebar {
    dock: left;
    width: 20%;
    height: 100%;
    background: $panel;
    border: solid green;
}

#details {
    height: 100%;
    layout: grid;
    grid-size: 3;
    grid-columns: 1fr;
    grid-rows: 1fr;
    grid-gutter: 1;
    background: $panel;
    border: solid green;
}

#details-final {
    column-span: 2;
}

#details > Static {
    height: 100%;
    background: $boost;
}